# Practice 2. Python Standard Library

## Lists and Dictionaries

#### 1. Iterate Area List. Write a code printing the following output
the hallway is 11.25 sqm  
the kitchen is 18.0 sqm  
the living room is 20.0 sqm  
the bedroom is 10.75 sqm  
the bathroom is 9.5 sqm

In [59]:
# 1. Iterate Area List
# A list of areas
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
#################### TODO ####################
# Write code printing the output described in the problem.
for i in range(len(house)):
    print(f"the {house[i][0]} is {house[i][1]} sqm")
##############################################

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

#### 2. Duplicates in Baby Name List
What if there are duplicate values and we want to find all their indices they occur?

In [60]:
# Recreate a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

#################### TODO ####################
# Append ‘Aliza‘ to baby_names
baby_names.append("Aliza")

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
print(baby_names.index("Aliza"))

# Find all positions that 'Aliza' occurs
def find_position(list, target):
    for i in range(len(list)):
        if list[i] == target:
            print(i, end=" ")
    print()

find_position(baby_names, "Aliza")

# Print baby_names
for i in range(len(baby_names)):
    print(baby_names[i], end=", ")
print()

##############################################

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Aliza']
1
1 4
Ximena, Aliza, Ayden, Calvin, Aliza,

#### 3. Common Mistake. What are the types of the following variables?

In [61]:
# 3. Common mistake
# Understand the tuple type
# Create the normal variable: normal
normal = 'simple'
# Create the mistaken variable: error
error = 'trailing comma', 
#################### TODO ####################
# TODO. Print the types of the above variables
print(type(normal), type(error))
##############################################

<class 'str'> <class 'tuple'>

#### 4. Set Operations. Get the union and intersection of girl_names and boy_names

In [62]:
# Lists of baby names
girl_names = ['ALEXIS', 'BLAKE', 'HAZEL', 'ISABELA', 'JAMIE']
boy_names = ['AARON', 'ALEXIS', 'ARMAAN', 'BLAKE', 'DARREN', 'HENRY', 'JOHN', 'MARCUS']
# Hint. Convert lists to sets
#################### TODO ####################
# TODO. Find and print the union: all_names
print(set(girl_names).union(set(boy_names)))
# TODO. Find and print the intersection: overlapping_names
print(set(girl_names).intersection(set(boy_names)))
##############################################

{'AARON', 'BLAKE', 'ISABELA', 'MARCUS', 'DARREN', 'JOHN', 'HENRY', 'ARMAAN', 'ALEXIS', 'JAMIE', 'HAZEL'}
{'BLAKE', 'ALEXIS'}

#### 5. Dictionary Manipulation. Print out the following.
the capital of spain is madrid  
the capital of france is paris  
the capital of germany is bonn  
the capital of norway is oslo  
the capital of italy is rome  
the capital of poland is warsaw  
the capital of australia is vienna

In [63]:
from pprint import pprint

# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())
# Print out value that belongs to key 'norway'
print(europe['norway'])

# Add italy to europe
europe['italy']='rome'
# Print out italy in europe
print('italy' in europe)
#################### TODO ####################
# TODO. Add poland to europe
europe['poland'] = 'Warszawa'

# TODO. Print europe
pprint(europe)

# TODO. Update capital of england to london, that of nethaland to amsterdam
europe['england'] = 'london'
europe['netherland'] = 'amsterdam'

# TODO. Remove poland
del europe['poland']
##############################################
# Print europe
pprint(europe)

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo
True
{'france': 'paris',
 'germany': 'berlin',
 'italy': 'rome',
 'norway': 'oslo',
 'poland': 'Warszawa',
 'spain': 'madrid'}
{'england': 'london',
 'france': 'paris',
 'germany': 'berlin',
 'italy': 'rome',
 'netherland': 'amsterdam',
 'norway': 'oslo',
 'spain': 'madrid'}

In [64]:
#################### TODO ####################
# Iterate over europe to print out the following output
for i in europe.keys():
    print(f"the capital of {i} is {europe[i]}")
    
##############################################

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of england is london
the capital of netherland is amsterdam

#### Getting Values from Dictionary

In [66]:
# Where is capital of spain? Search europe for that. 
print(europe.get('spain'))
# What is the type of the following?
print(type(europe.get('korea')))
# Print the capital of japan or "NotFound"
print('japan: {}'.format(europe.get('japan', 'NotFound')))
# Get the default value of key korea as 'NotFound'
europe.setdefault('korea', 'NotFound')
print('korea: {}'.format(europe.get('korea')))
pprint(europe)

madrid
<class 'str'>
japan: NotFound
korea: NotFound
{'england': 'london',
 'france': 'paris',
 'germany': 'berlin',
 'italy': 'rome',
 'korea': 'NotFound',
 'netherland': 'amsterdam',
 'norway': 'oslo',
 'spain': 'madrid'}

#### 6. Dictionary of Dictionaries. Define a dictionary of dictionaries, and add data to the dictionary

In [67]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome','population':59.83}

#################### TODO ####################
# TODO. Add data to europe under key 'italy'
europe['italy'] = data
##############################################

# Print europe
pprint(europe)

paris
{'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.62},
 'italy': {'capital': 'rome', 'population': 59.83},
 'norway': {'capital': 'oslo', 'population': 5.084},
 'spain': {'capital': 'madrid', 'population': 46.77}}

## Sets

In [68]:
ash_pokedex = ['Pikachu', 'Bulbasaur', 'Koffing', 'Spearow', 'Vulpix', 'Wigglytuff', 'Zubat', 'Rattata', 'Psyduck', 'Squirtle']
misty_pokedex = ['Krabby', 'Horsea', 'Slowbro', 'Tentacool', 'Vaporeon', 'Magikarp', 'Poliwag', 'Starmie', 'Psyduck', 'Squirtle']
brock_pokedex = ['Onix', 'Geodude', 'Zubat', 'Golem', 'Vulpix', 'Tauros', 'Kabutops', 'Omastar', 'Machop', 'Dugtrio']
union = set(ash_pokedex) | set(misty_pokedex) | set(brock_pokedex)

In [69]:
## Comparing Pokedexes
# Convert both lists to sets
ash_set = set(ash_pokedex)
misty_set = set(misty_pokedex)

#### 7. Find the Pokémon that exist in both sets.

In [70]:
# Compute the Pokémons that exist in both sets.
#################### TODO ####################
both = ash_set.intersection(misty_set)
print(both)

##############################################

{'Psyduck', 'Squirtle'}

In [71]:
# Find the Pokémon that Ash has and Misty does not have
ash_only = ash_set.difference(misty_set)
print(ash_only)

{'Wigglytuff', 'Spearow', 'Pikachu', 'Koffing', 'Zubat', 'Rattata', 'Vulpix', 'Bulbasaur'}

#### 8. Find the Pokémon that are in only one set (not both)

In [72]:
# Find the Pokémons that are in only one set (not both)
#################### TODO ####################
ash_compare = ash_set - misty_set - set(brock_pokedex)
misty_compare = misty_set - ash_set - set(brock_pokedex)
brock_compare = set(brock_pokedex) - ash_set - misty_set
unique_to_set = ash_compare | misty_compare | brock_compare
pprint(unique_to_set)

##############################################

{'Bulbasaur',
 'Dugtrio',
 'Geodude',
 'Golem',
 'Horsea',
 'Kabutops',
 'Koffing',
 'Krabby',
 'Machop',
 'Magikarp',
 'Omastar',
 'Onix',
 'Pikachu',
 'Poliwag',
 'Rattata',
 'Slowbro',
 'Spearow',
 'Starmie',
 'Tauros',
 'Tentacool',
 'Vaporeon',
 'Wigglytuff'}

In [73]:
## Searching for Pokémon
# Convert Brock's Pokédex to a set
brock_pokedex_set = set(brock_pokedex)
print(brock_pokedex_set)
ash_pokedex_set = set(ash_pokedex)
print(ash_pokedex_set)

{'Golem', 'Omastar', 'Machop', 'Dugtrio', 'Zubat', 'Tauros', 'Vulpix', 'Geodude', 'Kabutops', 'Onix'}
{'Wigglytuff', 'Spearow', 'Psyduck', 'Pikachu', 'Koffing', 'Zubat', 'Rattata', 'Squirtle', 'Vulpix', 'Bulbasaur'}

In [74]:
# Check if Psyduck is in Ash's list and Brock's list
print('Psyduck' in brock_pokedex)
print('Machop' in ash_pokedex)

False
False

In [ ]:
# Within your IPython console, 
# use %timeit to compare membership testing  
# Check if 'Psyduck' is in ash's pokedex, and check if 'Machop' is in brock's pokedex
# Measure the runtime of each of these operations by using %timeit.
# 1. 'Psyduck' in brock_pokedex_set
# 2. 'Psyduck' in brock_pokedex
# 3. 'Machop' in ash_pokedex_set
# 4. 'Machop' in ash_pokedex

In [75]:
#################### TODO ####################
%timeit "Psyduck" in brock_pokedex_set
%timeit "Psyduck" in brock_pokedex
%timeit "Machop" in ash_pokedex_set
%timeit "Machop" in ash_pokedex
##############################################

19.1 ns ± 0.0546 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)
91.6 ns ± 0.44 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)
21.9 ns ± 0.239 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)
85.1 ns ± 0.0821 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [20]:
## Gathering unique Pokémon
def find_unique_items(data):
    uniques = []

    for item in data:
        if item not in uniques:
            uniques.append(item)

    return uniques

In [76]:
# Use find_unique_items() to collect unique Pokémon names
uniq_names_func = find_unique_items(unique_to_set)
print(len(uniq_names_func))

# Convert the names list to a set to collect unique Pokémon names
uniq_names_set = set(unique_to_set)
print(len(uniq_names_set))

22
22

In [77]:
# Check that both unique collections are equivalent
print(sorted(uniq_names_func) == sorted(uniq_names_set))

True

In [55]:
pokemon_type_gen = {'Bulbasaur' : {'type': 'Grass', 'gen' : 1},
 'Dugtrio' : {'type': 'Ground', 'gen' : 1},
 'Geodude' : {'type': 'Rock', 'gen' : 1},
 'Golem': {'type': 'Rock', 'gen' : 1},
 'Horsea': {'type': 'Water', 'gen' : 1},
 'Kabutops': {'type': 'Rock', 'gen' : 1},
 'Koffing': {'type': 'Poison', 'gen' : 1},
 'Krabby': {'type': 'Water', 'gen' : 1},
 'Machop': {'type': 'Fighting', 'gen' : 1},
 'Magikarp': {'type': 'Water', 'gen' : 1},
 'Omastar': {'type': 'Rock', 'gen' : 1},
 'Onix': {'type': 'Rock', 'gen' : 1},
 'Pikachu': {'type': 'Electric', 'gen' : 1},
 'Poliwag': {'type': 'Water', 'gen' : 1},
 'Psyduck': {'type': 'Water', 'gen' : 1},
 'Rattata': {'type': 'Normal', 'gen' : 1},
 'Slowbro': {'type': 'Water', 'gen' : 1},
 'Spearow': {'type': 'Normal', 'gen' : 1},
 'Squirtle': {'type': 'Water', 'gen' : 1},
 'Starmie': {'type': 'Water', 'gen' : 1},
 'Tauros': {'type': 'Normal', 'gen' : 1},
 'Tentacool': {'type': 'Water', 'gen' : 1},
 'Vaporeon': {'type': 'Water', 'gen' : 1},
 'Vulpix': {'type': 'Fire', 'gen' : 1},
 'Wigglytuff': {'type': 'Normal', 'gen' : 1},
 'Zubat': {'type': 'Poison', 'gen' : 1}}

In [78]:
# Use the best approach to collect unique primary types and generations
primary_types = []
generations = []

for i in pokemon_type_gen:
    primary_types.append(pokemon_type_gen[i]['type'])
    generations.append(pokemon_type_gen[i]['gen'])
uniq_types = set(primary_types) 
uniq_gens = set(generations)
print(uniq_types, uniq_gens, sep='\n')

{'Rock', 'Poison', 'Grass', 'Fighting', 'Water', 'Electric', 'Normal', 'Ground', 'Fire'}
{1}

## Functions

#### 9. Squared Sum. Write a function sumSquared(n) calculating the squared sum from 1 to n: $$1^2 + 2^2 + ... + n^2$$

In [80]:
# Write a function calculating the squared sum from 1 to n
def sumSquared(n):
    #################### TODO ####################
    sum = 0
    for i in range(n):
        sum += (i+1)**2
    ##############################################
    return sum

sumSquared(3)

14

#### 10. Fibonacci Numbers. Write a function returning the Fibonacci sequence with length of n

In [81]:
# Assume n is always given as n >= 0.
# Write a function returning a list of Fibonacci sequence with length of n
def fiboNum(n):
    if n <= 1:
        return 1
    else:
        return fiboNum(n-1) + fiboNum(n-2)

def fiboSequence(n):
    #################### TODO ####################
    fibo_list = []
    for i in range(n):
        fibo_list.append(fiboNum(i))
    
    return fibo_list
    ##############################################

print(fiboSequence(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Pythonic Approach

#### 11. Print a list of strings with first five characters of the strings in list "names"

In [82]:
# using Non-Pythonic approach
names = ['Jerry', 'Kramer', 'John', 'Elaine', 'George', 'Newman', 'Jane','Bensmaia','Schweighofer']
i = 0
new_list= []
while i < len(names):
    if len(names[i]) <= 5:
        new_list.append(names[i])
    else:
        new_list.append(names[i][:5])
    i += 1
print(new_list)

['Jerry', 'Krame', 'John', 'Elain', 'Georg', 'Newma', 'Jane', 'Bensm', 'Schwe']

In [83]:
#################### TODO ####################
# Print the list with the first 5 characters of each name (same as the above list) in "names"
# Must use for loop
py_li = []
for i in names:
    py_li.append(i[:5])
print(py_li)
##############################################

['Jerry', 'Krame', 'John', 'Elain', 'Georg', 'Newma', 'Jane', 'Bensm', 'Schwe']

In [84]:
#################### TODO ####################
# Print the same list by using list comprehension
print([i[:5] for i in names])
##############################################

['Jerry', 'Krame', 'John', 'Elain', 'Georg', 'Newma', 'Jane', 'Bensm', 'Schwe']

## Built-In Functions: range(), enumerate(), map(), filter()

#### enumerate()

In [85]:
# Rewrite the for loop to use enumerate
names = ['Jerry', 'Kramer', 'John', 'Elaine', 'George', 'Newman', 'Jane','Bensmaia','Schweighofer']
indexed_names = []
for i,name in enumerate(names):
    index_name = (i,name)
    indexed_names.append(index_name) 
print(indexed_names)

[(0, 'Jerry'), (1, 'Kramer'), (2, 'John'), (3, 'Elaine'), (4, 'George'), (5, 'Newman'), (6, 'Jane'), (7, 'Bensmaia'), (8, 'Schweighofer')]

#### 12. Rewrite the above for loop using list comprehension: indexed_names_comp

In [87]:
#################### TODO ####################
indexed_names_comp = [(i, name) for i,name in enumerate(names)]
##############################################
pprint(indexed_names_comp)

[(0, 'Jerry'),
 (1, 'Kramer'),
 (2, 'John'),
 (3, 'Elaine'),
 (4, 'George'),
 (5, 'Newman'),
 (6, 'Jane'),
 (7, 'Bensmaia'),
 (8, 'Schweighofer')]

In [88]:
# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, start=1)]
pprint(indexed_names_unpack)

[(1, 'Jerry'),
 (2, 'Kramer'),
 (3, 'John'),
 (4, 'Elaine'),
 (5, 'George'),
 (6, 'Newman'),
 (7, 'Jane'),
 (8, 'Bensmaia'),
 (9, 'Schweighofer')]

#### map()
map(function, iterable, ...)

In [39]:
names = ['Jerry', 'Kramer', 'John', 'Elaine', 'George', 'Newman', 'Jane','Bensmaia','Schweighofer']
# Use map to apply str.upper to each element in names
names_map  = map(str.upper, names)

# Print the type of the names_map
print(type(names_map))
#################### TODO ####################
# Unpack names_map into a list "names_uppercase"
names_uppercase = list(names_map)
##############################################

# Print the list created above
print(names_uppercase)

<class 'map'>
['JERRY', 'KRAMER', 'JOHN', 'ELAINE', 'GEORGE', 'NEWMAN', 'JANE', 'BENSMAIA', 'SCHWEIGHOFER']

In [40]:
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
  
result = map(lambda x, y: x + y, numbers1, numbers2) 
result_list = [*map(lambda x, y: x + y, numbers1, numbers2)] 
print(result)
print(result_list)

<map object at 0x1054e3df0>
[5, 7, 9]

In [41]:
bases=[10, 20, 30, 40, 50]
index=[1, 2, 3, 4, 5]
powers=list(map(pow, bases, index))
powers_better = [*map(pow, bases, index)]
print(powers_better)

[10, 400, 27000, 2560000, 312500000]

#### 13. Print a list of list_numbers[i] * tuple_numbers[i] for every index i from 0 to len(list_numbers)

In [43]:
#################### TODO ####################
# Print a list of list_numbers[i] * tuple_numbers[i] for every index i from 0 to len(list_numbers)
list_numbers = [1, 2, 3, 4]
tuple_numbers = (5, 6, 7, 8)
map_iterator = [*map(lambda x, y : x*y, list_numbers, tuple_numbers)]
print(map_iterator)

##############################################

[5, 12, 21, 32]

In [44]:
#################### TODO ####################
# Still we can get the result although list_numbers and tuple_numbers2 have different sizes.
# with the map function.
list_numbers = [1, 2, 3, 4]
tuple_numbers2 = (5, 6, 7, 8, 9)
map_iterator2 = [*map(lambda x, y : x*y, list_numbers, tuple_numbers)]
print(map_iterator2)
##############################################

[5, 12, 21, 32]

In [45]:
# Function map() can even have a list of functions instead of a list of data
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

#### filter()
filter(function, iterable)

In [46]:
creature_names = ['Sammy', 'Ashley', 'Jo', 'Olly', 'Jackie', 'Charlie']

In [47]:
print(*filter(lambda x: x[0].lower() in 'aeiou', creature_names))

Ashley Olly

In [49]:
number_list = range(-5, 5)
%timeit less_than_zero = [*filter(lambda x: x < 0, number_list)]
less_than_zero = [*filter(lambda x: x < 0, number_list)]
print(less_than_zero)

563 ns ± 5.67 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
[-5, -4, -3, -2, -1]

#### 14. Compute "less_than_zero2" exactly same as "less_than_zero" above by using list comprehension. Measure the running time of this computation with %timeit.

In [51]:
#################### TODO ####################
%timeit less_than_zero2 = [i for i in number_list if i<0]
less_than_zero2 = [i for i in number_list if i<0]
print(less_than_zero2)

##############################################

307 ns ± 1.13 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
[-5, -4, -3, -2, -1]